.container {
  padding: 0 8rem;
}

.main {
  margin: 2rem 0;
  border-radius: 8px;
  background: #1D2127;
  box-shadow: 0 20px 32px 0 rgb(0 0 0 / 8%);
  padding: 0px;
}

.title {
  text-align: left;
  font-size: 2rem;
  margin: 0px;
  padding: 2rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.table1 {
  color: white;
  flex: 1 50%;
}

.table2 {
  color: white;
  flex: 1 50%;
}

.tableRow {
  padding: 20px 30px;
  border-bottom: 1px #2d2f39 solid;
}

.tableHeader > div:nth-child(1), .tableRow > div:nth-child(1) {
  width: 100px;
}
.tableHeader > div:nth-child(2), .tableRow > div:nth-child(2) {
  width: 200px;
}
.tableHeader > div:nth-child(2), .tableRow > div:nth-child(3) {
  width: 80px;
}

.cell {
  display: inline-block;
}

.button {
  border: 1px solid red;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background: red;
  border: 1px solid white;
}


